

<div class = "container-fluid">

    <div class = "row page-header" id="header">
        <h1 class = "col-md-4 text-center">Mail Tailor</h1>
        <div class="col-md-2 col-md-offset-5">
                <a class="btn" role="button" id="create" data-toggle="modal" data-target="#createmodal">CREATE</a>
                <a class="btn" role="button" id="login" data-toggle="modal" data-target="#loginmodal">LOGIN</a>
        </div>
    </div>

    <div class= "row">
        <div class="modal fade" id="loginmodal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button><!-- the small little x that closes -->
                        <h4 class="modal-title text-center" id="myModalLabel">LOGIN</h4>
                    </div>
                    <div class="modal-body" id="modal-body">
                        <%= form_for(:session, url: sessions_path) do |f| %>

                            <%= f.label :email %>
                            <%= f.text_field :email %>

                            <%= f.label :password %>
                            <%= f.password_field :password %>

                            <%= f.submit("Sign in", :class => 'btn', :id => 'modallog' )%>
                        <% end %>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class= "row">
        <div class="modal fade" id="createmodal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center" id="myModalLabel">CREATE</h4>
                    </div>



                    <div class="modal-body" id="modal-body">
                        <form action="/users" method="POST">
                            <label>Name <input id='name_input' name='user[name]' type='text' placeholder="name"></label>
                            <label>UserName <input name='user[mtname]' type='text' placeholder="username"></label>
                            <label>Email <input id='email_input' name='user[email]' type='text' placeholder="email"></label>
                            <label>Password <input id='password_input' name='user[password]' type='password' placeholder="password"></label>
                            <label>Confirm Password <input id='password_confirmation_input' name='user[password_confirmation]' type='password' placeholder="confirm password"></label>
                            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                            <button class="btn" id="modallog_create">CREATE</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> <!-- closes container -->
<br>
<img src= <%= asset_path('mailtailor_logo.png') %> alt="logo" id="logo"> </img>
