
  <div class="container-fluid" style="background:grey">

     <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand" id="logo"> MAIL TAILOR </li>
                <li> <input placeholder="SEARCH" id="search"> </li>
                <li> <span id="allSend">All Senders</span> </li>
                <% @senders.each do |sender| %>
                <li>
                      <span class="brands" id="<%= sender.display_name.gsub(" " , "").gsub('.' , "") %>"><%= sender.display_name %></span>
                      <button class= "delete" id="delete<%= sender.display_name.gsub(" " , "").gsub('.' , "") %>">DELETE</button>

                </li>
                <% end %>
                <li> <a class='btn btn-large' data-method='delete' href="<%= signout_path %>" >Log Out</a></li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->


        <!-- Page Content -->
          <div id="page-content-wrapper">
              <div class="container-fluid">
                  <div class="row">
                      <nav class="navbar navbar-default navbar-fixed-top" id="nav">
                          <div class="container-fluid">
                              <div class="navbar-header">
                                <div id="marqContainer">
                                  <h1 id="marquee">All Senders</h1>
                                </div>

                                <div id="catselect">
                                    <button id="noFilter">All</button>
                                    <button id="salesFilter">Sales</button>
                                    <button id="newsFilter">News</button>
                                    <button id="accountFilter">Account</button>
                                </div>
                              </div>
                              <!-- /.container-fluid -->
                          </nav>

                          <div id="mailDis">

                            <% @user.letters.each do |letter|%>
                                  <div class="col-lg-12 content">
                                      <div class = "email letterDiv class<%= letter.sender.display_name.gsub(" " , "").gsub('.' , "")%> <%= letter.category %>">
                                          <%= letter.title %> <button class="deleteSingle">Delete</button><br/>
                                          Received: <%= letter.created_at.strftime("%I:%M%p on %m/%d/%Y") %><br/>
                                          <%= letter.category %>
                                          <br/>

                                          <%= if letter.raw_html
                                              letter.raw_html.html_safe
                                            else
                                              letter.content
                                            end%>
                                      </div>

                                  </div>
                            <% end %>
                          </div>
                      </div>
                  </div>
              </div><!-- /#page-content-wrapper -->
          </div> <!-- closes container -->
          
          <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <nav class="navbar navbar-default navbar-fixed-top" id="nav">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav">
                                        <li><h3 id="sender">SENDER</h3></li>
                                        <li class="dropdown" id="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">MAIL TYPE <span class="caret"></span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="#">SALES</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">NEWS</a></li>
                                                <li class="divider"></li>
                                                <li><a href="#">ACCOUNT</a></li>
                                                <li class="divider"></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <input type="text" placeholder="SEARCH" id="searchtop">
                                </div><!-- /.navbar-collapse -->
                            </div><!-- /.container-fluid -->
                        </nav>

                      <div id="mailDis">

                            <% @user.letters.each do |letter|%>
                                  <div class="col-lg-12 content">
                                      <div class = "email letterDiv class<%= letter.sender.display_name.gsub(" " , "").gsub('.' , "")%> <%= letter.category %>">
                                          <%= letter.title %> <button class="deleteSingle">Delete</button><br/>
                                          Received: <%= letter.created_at.strftime("%I:%M%p on %m/%d/%Y") %><br/>
                                          <%= letter.category %>
                                          <br/>

                                          <%= if letter.raw_html
                                              letter.raw_html.html_safe
                                            else
                                              letter.content
                                            end%>
                                      </div>

                                  </div>
                            <% end %>
                          </div>
                      </div>
                    </div>
                </div>
            </div><!-- /#page-content-wrapper -->
        </div> <!-- closes container -->


  <script>
    var sendClassArray = [
      <% @senders.each do |sender| %>
        "class<%= sender.display_name.gsub(" " , "").gsub('.' , "") %>" ,
      <% end %>
    ]



    var mailDis = document.getElementById("mailDis");

    $( document ).ready(function() {

    $("#noFilter").click(function(){

                  $("#catselect").children().removeClass("changebackground");
                  $("#noFilter").addClass("changebackground");


                  $(".account").show();
                  $(".news").show();
                  $(".sale").show();
              });

    $("#salesFilter").click(function(){

            $("#salesFilter").addClass("changebackground");
            $("#noFilter").removeClass("changebackground");
            $("#newsFilter").removeClass("changebackground");
            $("#accountFilter").removeClass("changebackground");
            $(".sale").css( "display" , "block");
            $(".news").hide();
            $(".account").hide();

        });

    $("#newsFilter").click(function(){

            $("#newsFilter").addClass("changebackground");
            $("#noFilter").removeClass("changebackground");
            $("#salesFilter").removeClass("changebackground");
            $("#accountFilter").removeClass("changebackground");
            $(".news").show();
            $(".account").hide();
            $(".sale").hide();

        });

      $("#accountFilter").click(function(){

                    $("#accountFilter").addClass("changebackground");
                    $("#noFilter").removeClass("changebackground");
                    $("#salesFilter").removeClass("changebackground");
                    $("#newsFilter").removeClass("changebackground");
                    $(".account").show();
                    $(".news").hide();
                    $(".sale").hide();
                });



  <% @senders.each do |sender| %>

    var <%= 'get' + sender.display_name.gsub(" " , "").gsub("." , "") %> = document.getElementById("<%= sender.display_name.gsub(" " , "").gsub('.' , "") %>");


    $("#<%=sender.display_name.gsub(' ' , '').gsub('.' , '') %>").click(function(){

            $("#marquee").text('<%= sender.display_name %>');
            $("#mailDis").children().removeClass("showLetter").addClass("hideLetter");
            $("#<%=sender.display_name.gsub(' ' , '').gsub('.' , '') %>").parent().parent().children().removeClass("changebackground");
            $("#<%=sender.display_name.gsub(' ' , '').gsub('.' , '') %>").parent().toggleClass("changebackground");

            $(".class<%= sender.display_name.gsub(' ' , '').gsub('.' , '') %>").parent().removeClass("hideLetter");
            $(".class<%= sender.display_name.gsub(' ' , '').gsub('.' , '') %>").parent().addClass("showLetter");
        });






          $("#delete<%= sender.display_name.gsub(' ' , '').gsub('.' , '') %>").click(function() {
            var kill = window.confirm("are you sure you wish to delete?");
            if (kill == true){
              $("#<%=sender.display_name.gsub(' ' , '').gsub('.' , '') %>").parent().remove();
              $(".class<%= sender.display_name.gsub(' ' , '').gsub('.' , '') %>").remove();
            };
        });



  <% end %>

  $("#allSend").click(function(){
    $(this).parent().parent().children().removeClass("changebackground");
    $(this).parent().addClass("changebackground");
    $("#mailDis").children().addClass("showLetter");
    $("#marquee").text('All Senders');
  })

  $(".deleteSingle").click(function(){
    var killSingle = window.confirm("are you sure you wish to delete?");
    if (killSingle == true){
      $(this).parent().remove();
    };

  })

  $(".email").click(function(){
      console.log('clicked');
    $(this).toggleClass("fullSize");
  })
});

  </script>
