<!DOCTYPE html>
<html lang="en">

<head>
<!-- Bootstrap CSS -->

<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>



  <div class = "container-fluid">

     <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand" id="logo">
                    <a href="index.html">
                        MAIL THING
                    </a>
                </li>



                <li>
                    <input placeholder="SEARCH" id="search">
                </li>
                <% @senders.each do |sender| %>
                  <li>
                      <span id = "<%= sender.display_name.gsub(" " , "").gsub('.' , "") %>"><%= sender.display_name %></span>
                      <button id =  "delete<%= sender.display_name.gsub(" " , "").gsub('.' , "") %>">DELETE</button>

                  </li>
                <% end %>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->


        <!-- Page Content -->
          <div id="page-content-wrapper">
              <div class="container-fluid">
                  <div class="row">
                      <nav class="navbar navbar-default navbar-fixed-top" id="nav">
                          <div class="container-fluid">
                              <div class="navbar-header">
                                <h1 id="marquee"></h1>
                                <div id="catselect">
                                    <button id="salesFilter">Sales</button>
                                    <button id="newsFilter">News</button>
                                    <button id="accountFilter">Account</button>
                                </div>
                              </div>
                              <!-- /.container-fluid -->
                          </nav>
                          <div id="mailDis">


                            <% @user.letters.each do |letter| %>
                            <div class="col-lg-12 content">
                                <div class = "email letterDiv class<%= letter.sender.display_name.gsub(" " , "").gsub('.' , "")%> <%= letter.category %>">
                                    <%= letter.title %> <br/>
                                    <%= letter.category %>
                                    <br/>
                                    <%= letter.content.html_safe %>

                                </div>
                            </div>
                            <% end %>
                          </div>
                      </div>
                  </div>
              </div><!-- /#page-content-wrapper -->
          </div> <!-- closes container -->
  <!-- Bootstrap JS -->

  <!--  dialog pop ups -->
  <!--  dialog pop ups were an  -->


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script>
    var sendClassArray = [
      <% @senders.each do |sender| %>
        "class<%= sender.display_name.gsub(" " , "").gsub('.' , "") %>" ,
      <% end %>
    ]



    var mailDis = document.getElementById("mailDis");




    $("#salesFilter").click(function(){

            $("#salesFilter").toggleClass("changebackground");

            $(".sale").css( "display" , "block");
            $(".news").hide();
            $(".account").hide();

        });

    $("#newsFilter").click(function(){

            $("#newsFilter").toggleClass("changebackground");

            $(".news").show();
            $(".account").hide();
            $(".sale").hide();

        });

      $("#accountFilter").click(function(){

                    $("#accountFilter").toggleClass("changebackground");

                    $(".account").show();
                    $(".news").hide();
                    $(".sale").hide();
                });

    $( document ).ready(function() {

  <% @senders.each do |sender| %>

    var <%= 'get' + sender.display_name.gsub(" " , "").gsub("." , "") %> = document.getElementById("<%= sender.display_name.gsub(" " , "").gsub('.' , "") %>");


    $("#<%=sender.display_name.gsub(' ' , '').gsub('.' , '') %>").click(function(){

            $("#marquee").text('<%= sender.display_name %>');
            $("#mailDis").children().removeClass("showLetter").addClass("hideLetter");
            $("#<%=sender.display_name.gsub(' ' , '').gsub('.' , '') %>").parent().toggleClass("changebackground");

            $(".class<%= sender.display_name.gsub(' ' , '').gsub('.' , '') %>").parent().removeClass("hideLetter");
            $(".class<%= sender.display_name.gsub(' ' , '').gsub('.' , '') %>").parent().addClass("showLetter");
        });






          $("#delete<%= sender.display_name.gsub(' ' , '').gsub('.' , '') %>").click(function() {
            var kill = window.confirm("are you sure you wish to delete?");
            if (kill == true){
              $("#<%=sender.display_name.gsub(' ' , '').gsub('.' , '') %>").parent().remove();
              $(".class<%= sender.display_name.gsub(' ' , '').gsub('.' , '') %>").remove();
            };
        });


        $(".email").click(function(){
          $(this).toggleClass("fullSize");
        })

  <% end %>
});

  </script>


  </body>
  </html>
